body{
    text-align: center;
}
#Apps{
    background-color: bisque;
    height: 800px;
    width: 100%;
    
}
h1{
    font-size: 35px;
    font-family: sans-serif;
}
#Games{
    background-color:bisque;
    height: 800px;
    width: 100%;
    
}

img:hover {
    transform: scale(1.1); 
}

.line {
    height: 6px; background-color: #000; width: 70px; margin: 8px auto;
}
#Chatbot{
    background-color:chocolate;
    height: 800px;
    width: 100%;
}